*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container{
  max-width: 500px;
  margin: 40px auto;
  background: white;
  padding: 24px;
  border-radius: 16px;
}